<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJETINHO - ABRIL </title>
    <link rel="preload" href="./assets/fonts/Roboto-Regular-subset.woff2" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/global.css">
  </head>
  <body>
    <div class="section title">
      <h1 style="grid-area:title">PROJETINHO - ABRIL</h1>
    </div>
    <div class="section ranking">
      <h2>Ranking </h2>

      <table style="grid-area:table">
        <colgroup>
          <col span="1" style="width: max-content;">
          <col span="1" style="width: auto; margin-right: auto">
          <col span="1" style="min-width: max-content;">
          <col span="1" style="min-width: max-content;">
        </colgroup>
        <thead>
          <th>Colocação</th>
          <th>Nome</th>
          <th>Faltas</th>
        </thead>

        <tbody>
          <%
          const competitors = {
            'Vinicius': 0,
            'Karina': 0 ,
            'Matheus': 0,
            'Daniel': 0, 
            'Jean': 0,
          }

          const missedList = [
            {
              date: '24/04/2023',
              competitors: ['Daniel','Matheus']
            },
            {
              date: '20/04/2023',
              competitors: ['Vinicius','Daniel','Matheus']
            },
          {
            date: '19/04/2023',
            competitors: ['Vinicius','Daniel']
          },
        {
          date: '18/04/2023',
          competitors: ['Matheus']
        },
      {
        date: '17/04/2023',
        competitors: ['Karina','Matheus','Jean','Vinicius']
      },
    {
      date: '14/04/2023',
      competitors: ['Matheus','Daniel']
    },
  {
    date: '13/04/2023',
    competitors: ['Karina','Daniel','Matheus']
  },
{
  date: '12/04/2023',
  competitors: ['Karina','Matheus']
  },
{
  date: '11/04/2023',
  competitors: ['Matheus']
  },
{
  date: '10/04/2023',
  competitors: ['Matheus']
  },  
          ]

          let amount = 0
          for (let i = 0; i < missedList.length; i++) {
            amount += missedList[i].competitors.length
            for (const competitor of missedList[i].competitors) {
              competitors[competitor]++
            }
          }

          const competitorsSorted = Object.fromEntries(
            Object.entries(competitors).sort(([,a],[,b]) => a-b)
          )
          Object.keys(competitorsSorted).forEach((item, idx) => { %>
            <tr>
              <td class="small ranking-pos ranking-pos-<%= (idx+1) %>"><%= idx+1 %></td>
              <td class="ranking-name"><%= item %></td>
              <td class="ranking-games"><%= competitorsSorted[item] %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div>
        <h3>Valor total: <%= amount %></h1>
      </div>
    </div>
    <footer>
      <p>© Matheus, vai toma no cu</p>
    </footer>
  </body>
</html>
