<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJETINHO - JUNHO </title>
    <link rel="preload" href="./assets/fonts/Roboto-Regular-subset.woff2" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/global.css">
  </head>
  <body>
    <div class="section title">
      <h1 style="grid-area:title">PROJETINHO - JUNHO</h1>
    </div>
    <div class="section ranking">
      <table style="grid-area:table">
        <colgroup>
          <col span="1" style="width: max-content;">
          <col span="1" style="width: auto; margin-right: auto">
          <col span="1" style="min-width: max-content;">
          <col span="1" style="min-width: max-content;">
        </colgroup>
        <thead>
          <th>Colocação</th>
          <th>Nome</th>
          <th>Faltas</th>
        </thead>

        <tbody>
          <%
          const competitors = {
            'Maka': 0,
            'Karina': 0 ,
            'Matheus': 0,
            'Ricardo': 0,
            'Jean': 0,
            'Raissa':0,
          }

          const missedList = [
          {
            date: '01/06/2023',
            competitors: ['Jean']
          },
          {
            date: '02/06/2023',
            competitors: ['Matheus']
          },
          {
            date: '05/06/2023',
            competitors: ['Matheus']
          },
          {
            date: '07/06/2023',
            competitors: ['Matheus']
          },
          {
            date: '09/06/2023',
            competitors: ['Jean']
          },
          ]

          let amount = 0
          for (let i = 0; i < missedList.length; i++) {
            amount += missedList[i].competitors.length
            amount = amount + (missedList[i].competitors.length*3)

            for (const competitor of missedList[i].competitors) {
              competitors[competitor]++
            }
          }

          const competitorsSorted = Object.fromEntries(
            Object.entries(competitors).sort(([,a],[,b]) => a-b)
          )
          Object.keys(competitorsSorted).forEach((item, idx) => { %>
            <tr>
              <td class="small ranking-pos ranking-pos-<%= (idx+1) %>"><%= idx+1 %></td>
              <td class="ranking-name"><%= item %></td>
              <td class="ranking-games"><%= competitorsSorted[item] %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div>
        <h3>Valor total: R$ <%= amount %></h1>
      </div>
    </div>
    <footer>
      <p>© Matheus, vai toma no cu</p>
    </footer>
  </body>
</html>
